#headerTitle {
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid black;
    height: 100px;
    color: darkcyan;
    background-color: beige;
}
#footerArea{
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    height: 100px;
    color: darkcyan;
    background-color: beige;
}
#allMessagesBox{
    height: 90%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}
#divUserMessages {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
    overflow: scroll;
}
#divFriendMessages {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}
#messageTimestampFriend, #messageTimestampUser {
    text-align: center;
}
#divInput {
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid black;
}

.messageBox{
    display: flex;
    gap: 2rem;
    font-family: Calibri, fantasy;
}

.messageBox{
    display: flex;
}

.footerBox{
    display: flex;
}